/*Head Start*/
.head1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2E1D9;
    padding: 40px 0;
}
.head1>nav{
    display: flex;
    gap: 15px;
    padding-left: 150px;
}
.head1>nav>img{
    width: 140px;
    height: 140px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
.head1>nav>a{
    color: #242424;
    font-weight: 600;
    padding: 5px 10px;
    transition: .4s;
}
.head1>nav>a:hover{
    color: #f28958;
}
.head1>.nav_right{
    display: flex;
    gap: 25px;
    align-items: center;
    padding-right: 15px;
     
}
.head1>.nav_right>i{
    font-size: 27px;
    cursor: pointer;
    position: relative;
}
.head1>.nav_right>.search{
    display: flex;
    gap: 2px;
    align-items: end;
    padding-bottom: 3px;
    border-bottom: 1px solid gray;
}
.head1>.nav_right>.search>i{
    font-size: 20px;
    cursor: pointer;
}
.head1>.nav_right>.search>input{
    background: transparent;
    width: 200px;
}
.head1>.nav_right>a{
    color: #242424;
    font-weight: 600;
    transition: .4s;

}
.head1>.nav_right>a:hover{
    color: #f28958;
}
.head1>.nav_right>i>div{
    background: #fb6723;
    width:  17px;
    height: 17px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -3px;
    bottom: 3px;
}
.head1>.nav_right>i>div>h4{
    font-size: 12px;
    color: white;

}
.head1>nav>.Page_nav_wrapper{
    position: relative;
    top: 0;
}
.head1>nav>.Page_nav_wrappe>.Page_nav{
    display: flex;
    background-color: red;
    flex-direction: column;
    gap: 3px;
    padding: 10px 20px;
    border-top: 1px solid #fb6723;
    position: absolute;
    top: 40px;
    left: 20px;
}
.head1>nav>.Page_nav_wrappe>.Page_nav>a{
    color: #242424;
    font-weight: 600;
    transition: .4s;
}
/*Head End*/
/*Hero Start*/
.hero{
    width: 100%;
    height: 100vh;
    background: url(./images/hero.webp)  ;
    background-position: center;
    background-size: cover;
    border-right:  38px solid #F2E1D9;
    border-bottom:  38px solid #F2E1D9;
    position: relative;
}
.hero>.hero-text{
    max-width: 540px;
    position: absolute;
    top: 110px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    left: 150px;
    background-color: white;
    padding: 30px 50px;
}
.hero>.hero-text>h4{
    color: #7F85A8;
    font-size: 28px;
    text-transform: uppercase;
}
.hero>.hero-text>h2{
    font-size:60px;
    font-weight: 800;
    text-transform: uppercase;

}
.hero>.hero-text>p{
    font-size:18px;
    color: #646D77;

}
.hero>.hero-text>a{
    font-size:16px;
    background-color: #FD8F5F;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 13px 0;
    width: 200px;
    position: relative;
}
.hero>.hero-text>a>div{
    background-color: #242424;
    opacity: .1;
    padding: 25px 0;
    width: 0px;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
}
.hero>.hero-text>a:hover div{
    width: 100%;
}
.hero>.add{
    width: 200px;
    height: 38px;
    background-color: white;
    position: absolute;
    bottom: 0;
    transform: translate(0,100%);
    left: 0px;
}
/*Hero End*/
/*PRODUCTS Start*/
.PRODUCTS{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 40px 30px;
}
.PRODUCTS>.text-center{
    text-align: center;
    max-width: 650px;
    margin:  0 auto;
}
.PRODUCTS>.text-center>h1{
    font-size: 38px;
}
.PRODUCTS>.text-center>p{
    color: #7F85A8;
    font-size: 16px;
    font-weight: 400;
}
/*PRODUCTS End*/